{% extends 'base.html' %}
{% block content %}

<h2>{{ user.fname}} {{user.lname}}'s profile</h2> 
<a data-toggle="modal" data-target="#editprofile-modal">Edit My Info</a>

                              <!-- EDIT PROFILE MODAL -->
                              <div class="modal fade" id="editprofile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                      <div class="modal-dialog">
                                      <div class="loginmodal-container">

                                       <button data-dismiss="modal" class="close" type="button">
                                        <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
                                      </button>

                                        <h1>Edit My Info</h1><br>
                                        <form action='/e_profile', method='POST'>

                                            <label for="email">Email</label>
                                            <input type="email" name="email" placeholder="Email" value='{{ user.email }}'>
                                           
                                            <label for="fname">First name</label>
                                            <input type="text" name="fname" placeholder="First Name" value='{{ user.fname }}'>
                                            
                                            <label for="lname">Last name</label>
                                            <input type="text" name="lname" placeholder="Last Name" value='{{ user.lname }}'>
                                            
                                            <label for="phone">Phone</label>
                                            <input type="phone" name="phone" placeholder="Phone" value='{{ user.phone }}'>
                                        
                                        <input type="submit" class="login loginmodal-submit" value="Save">
                                        </form>

                                        </div>
                                      </div>
                                    </div>
                              <!-- END EDIT PROFILE MODAL -->




<!-- Contacts list, with events -->
<br><br>







 <!-- Page Content -->
    <div class="container">



<!-- /////////////////////// UPCOMING EVENTS ///////////////// //////////-->
<!-- {% if upcoming_events %}
  <h2> Upcoming Events </h2>


    {% for event in upcoming_events %}

    {% if not event.job_done %}

          <li>[{{event.date.month}}/{{event.date.day}}/{{event.date.year}}] 
            <a data-toggle="modal" data-target="#editevent-modal-{{event.id}}">"{{ event.template.name }}"</a> message for {{event.contacts[0].name}}
          </li>
      {% endif %}
    {%endfor%}

{%endif%}

<a data-toggle="modal" data-target="#eventform-modal"> 
<button type="button" class="btn btn-default btn-sm">
<span class="glyphicon glyphicon-plus-sign"></span> New Event
</button>
</a>
 -->
<!-- /////////////////////// END UPCOMING EVENTS ///////////////// ////////-->





<!-- UPCOMING EVENTS CAROUSEL  -->
<div class="container">
  <h1 id='carousel_h1'>Upcoming events</h1>
  <h2><a data-toggle="modal" data-target="#eventform-modal">Add Event</a></h2>
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">


    {% if upcoming_events %}
     {% for event in upcoming_events %} 
          {% if not event.job_done %}
          <div class="item thing">
            <div class="col-xs-4">
              <a data-toggle="modal" data-target="#editevent-modal-{{event.id}}">
                 [{{event.date.month}}/{{event.date.day}}/{{event.date.year}}]  
                {{event.template.name}} message for: <br>
                {{event.contacts[0].name}} 
                <br>
                 <img src="{{event.contacts[0].pic_url}}" align="left" class="img-responsive" hspace="10">
                <span> {{event.template.text[:450]}}...</span>
              </a>
            </div>
          </div>
          {% endif %}
   {% endfor %}
{% endif %}
          <div class="item active">
            <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/f44336/000000" class="img-responsive"></a></div>
          </div>

          <div class="item">
            <div class="col-xs-4"><a data-toggle="modal" data-target="#eventform-modal"><img src="http://placehold.it/300/e91e63/000000" class="img-responsive">add item</a></div>
          </div>

          <!-- add  more items here -->


          <!--  Example item end -->
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
<br><br>


<!-- END UPCOMING EVENTS CAROUSEL -->







<!-- Contacts Row --> 
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Contacts</h2>
    </div>

{% for contact in contacts|sort(attribute='name') %}

 <div class="col-lg-4 col-sm-6 text-center mb-4">
          
          
            <a data-toggle="modal" data-target="#editcontact-modal-{{contact.id}}" class='DarkBlue'>{{contact.name}}</a>
            <small> </small>
             <!-- modal to ADD event for contact -->
          <a data-toggle="modal" data-target="#addeventcontact-modal-{{contact.id}}">
                <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
          </a><br>

        

<img class="rounded-circle img-fluid d-block mx-auto" src="{{contact.pic_url}}" alt="">
<!-- EDIT CONTACT INFO MODAL //////////////////////////////////////////////////-->
        <div class="modal fade" id="editcontact-modal-{{contact.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">

         <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>

          <h1>Edit {{ contact.name }}'s Info</h1><br>
          <form action='/edit_contact/{{ contact.id }}', method='POST'>

              <label for="fname">Name</label>
              <input type="text" name="name" placeholder="Name" value='{{ contact.name }}'>
              
              <label for="email">Email</label>
              <input type="email" name="email" placeholder="Email" value='{{ contact.email }}'>
              
              <label for="address">Address</label>
              <input type="text" name="address" placeholder="Address" value='{{ contact.address }}'>
            
              <label for="phone">Phone</label>
              <input type="phone" name="phone" placeholder="Phone" value='{{ contact.phone }}'>
            
          <input type="submit" class="login loginmodal-submit" value="Save">

                  <!-- link to modal to delete contact -->
         <a data-toggle="modal" data-target="#removecontact-modal-{{contact.id}}">
            <button type="button" class="btn btn-default btn-sm">
             Remove {{contact.name}} from contacts 
            </button>
        </a><br>

          </form>

          </div>
        </div>
      </div>
<!-- END EDIT CONTACT INFO MODAL //////////////////////////////////////////////-->




{% for event in contact.events %}
{% if event.job_done %}

      <strike style='color:#808080'>
        <li>[{{event.date.month}}/{{event.date.day}}/{{event.date.year}}] {{ event.template.name }}</li>
        </strike>

{% else %} 
<li>[{{event.date.month}}/{{event.date.day}}/{{event.date.year}}]
  <a data-toggle="modal" data-target="#editevent-modal-{{event.id}}">{{ event.template.name }}</a>
</li>



<!-- EVENT MODALS (need to pass in EVENT) ###################################-->

      <!-- EDIT EVENT MODAL :: edit_event.html ////////////////////////////////////-->
              <div class="modal fade" id="editevent-modal-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog">
              <div class="loginmodal-container">

               <button data-dismiss="modal" class="close" type="button">
                <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
              </button>
             
                <h2><u>Edit Event Details</u></h2>
                <form action='/handle_edits', method='POST'>
                <input type='hidden' name='event_id' value='{{ event.id }}'>
                <input type='hidden' name='contact_id' value='{{ event.contacts[0].id }}'>

      Contact name: <input type='text' name='contact_name' value='{{event.contacts[0].name}}' required> <br>
      Contact's email: <input type='email' name='contact_email' value='{{event.contacts[0].email}}' required><br>
      Contact's phone: <input type='phone' name='contact_phone' value='{{event.contacts[0].phone}}'> <br>
      Contact's address: <input type='text' name='contact_address' value='{{event.contacts[0].address}}'> <br>
      Date to be sent: 
      <input type="date" name='date' class="datefield" min="" max="" value="{{event.date.year}}-{{ event.date.month}}-{{ event.date.day}}" data-date-split-input="true" required/><br>
      Subject: <input type='text' name='template_name' value='{{event.template.name}}'> <br>
      Text: <textarea name="template_text">{{event.template.text}}</textarea><br>

                <input type="submit" class="login loginmodal-submit" value="Save">
                </form>

                <form action="/remove_event" method='POST'>
                    <input type='hidden' name='event_id' value='{{ event.id }}'>
                    <input type='submit' value="Remove Event">
                </form>

                </div>
              </div>
            </div>
      <!-- END EDIT EVENT MODAL :: edit_event.html ////////////////////////////////-->


<!-- END EVENT MODALS (where you need to pass in an event) ######################################-->
{% endif %}  
{% endfor %}
</div>





    <!-- /.container -->



















   




<!-- ADD EVENT FOR CONTACT MODAL ////////////////////////////////////////////////////////////////-->
        <div class="modal fade" id="addeventcontact-modal-{{contact.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">
         <button data-dismiss="modal" class="close" id='user-new-close' type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>

          <h1>Add Event for {{ contact.name}}</h1><br>
          <form id='neweventcontact' class='newevent' action='/handle_new_event_for_contact', method='POST'>
              Contact's name: {{ contact.name}}<br>
              Contact's email: {{ contact.email }}<br>
              Contact's phone: {{ contact.phone }}<br>
              Contact's address: {{ contact.address }}<br>
          <label for="date">Date to be sent</label> 
              <input type="date" name='date' class="datefield" min="" max="" data-date-split-input="true" required/><br>
          
          <label for="subject">Message subject</label> <input type='text' name='template_name' required> <br>
              
          How do you want to greet them? 
            <select name='greet'>
                <option value='Dear'>Dear</option>
                <option value='Hey'>Hey</option>
                <option value='Hello'>Hello</option>
            </select> <br>
    

        What do you want them to know? <br> ...or choose a prefilled message if you'd like!         
            <select class='template_type2' name='template_type2'>
                <option disabled selected value>Select prefilled</option>
                <option value='ty'>Thank you</option>
                <option value='hb'>Happy birthday</option>
                <option value='fup'>Follow Up</option>
                <option value='markov'>Random Generator</option>
            </select> 
            <br>
                <textarea class='template_textarea2' name="body">You're awesome!</textarea>
                <br>

        How do you want to sign off? 
            <select name='sign_off'>
                <option value='Sincerely'>Sincerely</option>
                <option value='Yours'>Yours</option>
                <option value='Best'>Best</option>
              </select> <br><br>
            
            <input type='hidden' name='contact_id' value='{{ contact.id }}'>
          <input type="submit" class="login loginmodal-submit" id='user-new-submit' value="Add Event">
          </form>

          </div>
        </div>
      </div>
<!-- END ADD EVENT FOR CONTACT MODAL ////////////////////////////////////////////////////////////////-->



<!-- REMOVE CONTACT MODAL //////////////////////////////////////////////////////////////////////////-->
    <div class="modal fade" id="removecontact-modal-{{contact.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
      <div class="loginmodal-container">
      <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
      </button>

      <h3>Are you sure you want to delete <u>{{ contact.name }}</u> as a contact?</h3>
      and all of the nice messages you had in mind? <br> <br>
        <ol>
          {% for event in contact.events %}
            <li> {{ event.template.name }}</li>
          {% endfor %}
        </ol> 
        <br><br>
            <form action='/remove_contact', method='POST'>
                  <input type='hidden' name='contact_id' value='{{contact.id}}'>
                <input type="submit" class="login loginmodal-submit" value='Yes, remove them out of my life'>
          </form>

          </div>
        </div>
      </div>
<!-- END REMOVE CONTACT MODAL ////////////////////////////////////////////////////////////////-->






{% endfor %}
</div>




<br>
<br> 
    
<!-- link to add contact/event modal -->
<a data-toggle="modal" data-target="#eventform-modal">Add Event</a></li>



{% endblock %}