html {
  position: relative;
  min-height: 100%;
  background-color: #ECEFF1 !important;
}

body {
    background-color: #ECEFF1 !important;
    color: #37474F;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-top: 70px; 
}

h1, h2, h3 {
    font-weight: 100;
    font-weight: bolder;
}

div {
    text-align: center;
}

.grid-item {
    text-align: center;
    width: 200px;
    padding: 15px;
    margin-top:10px;
    background-color: #F0FFFF;
}

.img-circle{
    border-radius: 50%;
    display: block;
    margin: auto;
}

.sm-circle{
    border-radius: 50px;
    width: 80px;
    display: block;
    margin: auto;
}


/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}


.loginmodal-container input[type=text], input[type=date],input[type=password], input[type=phone], input[type=email] {
  height: 30px;
  font-size: 14px;
  width: 90%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
textarea {
  height: 70px;
  font-size: 13px;
  width: 90%;
  padding: 0 8px;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=date]:hover, input[type=phone]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;

}

.loginmodal-submit{
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}


.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}


/*navbar*/

.navbar-default{
  /*background-color: transparent; !important; */
  background-color: #ECEFF1 !important;;
  border-color: none;
  position: fixed;
  top: 0;
}
.navbar-default .navbar-header > a {
}
.navbar-default .navbar-nav > li > a{
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {

}


.tembus{
  /*background-color: transparent !important;*/
}
.hvrcenter {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvrcenter:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  /*background: #ECF0F1;*/
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvrcenter:hover:before, .hvrcenter:focus:before, .hvrcenter:active:before {
  left: 0;
  right: 0;
}
