body {
    font-family: sans-serif;
    background: url('https://pbs.twimg.com/profile_background_images/485886649104998401/hyuYt7Jf.jpeg') no-repeat;

}

footer {
    font-size: 12px;
    font-family: monospace;
   position: relative;
   padding: 2px;
   bottom:0;
   width:80%;
   /*background: lightGray;*/
}

h1 {
    color: blue;
    font-weight: bold;
}

h2 {
    font-style: italic;
}

th {
    font-size: 20px;
}

td {
    font-size: 15px;
}

td a {
    font-size: 12px;
    font-weight: bold;
}

textarea {
  width: 300px;
  height: 150px;
}

.red {
    color: red;
}

.green {
    color: green;
    font-size: 30px;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid lightGray;
}

input[type="submit"]
{
    border:2px solid black;
    text-decoration:none2
    font-family:helvetica;
    color:black;
    /*background:url(../images/btn_hover.png) repeat-x;*/
}