body {
    font-family: sans-serif;
}

footer {
    font-size: 12px;
    font-family: monospace;
   position: relative;
   padding: 2px;
   bottom:0;
   width:80%;
   background: lightGray;
}

h1 {
    color: blue;
    font-weight: bold;
}

h2 {
    font-style: italic;
}

th {
    font-size: 20px;
}

td {
    font-size: 15px;
}

td a {
    font-size: 12px;
    font-weight: bold;
}

textarea {
  width: 300px;
  height: 150px;
}

.red {
    color: red;
    font-weight: bold;
    font-style: oblique;
}

.green {
    color: green;
    font-weight: bold;
    font-style: oblique;
    font-size: 30px;
}
