<!doctype html>

<html>


<head>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Keep in Touch</title>
</head>


<body>

<!-- NAVBAR -->
<div class="container">
<!-- Navbar for logged in users -->
{% if session.get('user_id') %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Keep in Touch</a>
          </div>

          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/users/{{session.get('user_id')}}">My Profile</a></li>
            <li><a href="/add_event">Create a New Event</a></li>
            <li><a href="/edit_profile">Settings</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
          </ul>
        
        </div>
      </nav>
      <br> <br> <br>
{% else %}
<!-- Navbar for users not logged in -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

          <div class="navbar-header">
            <a class="navbar-brand" href="/">Keep in Touch</a>
          </div>

          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>

            <ul class="nav navbar-nav navbar-right">
            <li><a href="/register_login"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/register_login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
          </ul>

        </div>
      </nav>
      <br> <br> <br>
{% endif %}
</div>





<div class="container">

    <!-- Flash messages -->
    <ul class='red'>
      {% for message in get_flashed_messages() %}
        <li> {{ message }} </li>
      {% endfor %}
    </ul>

    <h1>Keep in Touch</h1>
    Keep in Touch lets you automate keeping in touch 

<br>
<hr>

  <div class="row">
    <div class="col-sm-10">
        {% block content %} 
            put your content here 
        {% endblock %}
    </div>
  </div>
</div>

<br>
<br>
<br>
  <hr>
<footer>

<div class="container">
  <div class="col-sm-10" >
    <span id="quote-text"></span> 
    <br><br>
  <span> <b>Relationships are important -- </b>Keep in Touch helps you automate keeping in touch with people, meaningfully or at all.</span>
  <br>
</footer>
<script src="/static/project.js"></script>
</div>
</div>


</body>
</html>
