<!doctype html>
<html>
<head>
    <title>D3 Practice</title>
    <script src="https://d3js.org/d3.v3.min.js"></script>
</head>
<body>

<script>
var mydata = {
"name": "max", 
"children": [ 
    { 
        "name":"Sylvia", 
        "children": [
                        {"name": "Craig"}, 
                        {"name":"Robin"}, 
                        {"name": "Anna"} 
        ]
    },

{
    "name": "David", 
    "children": [
                    {"name": "Jeff", "size": 3534}, 
                    {"name": "Buggy", "size": 5731}
    ]
}
 ]
} 
    
    var diagonal = d3.svg.diagonal()
    var canvas = d3.select("body").append('svg')
        .attr('width', 500)
        .attr('height', 500)
        .append('g')
            .attr('transform', 'translate(50, 50)');

    var tree = d3.layout.tree()
        .size([400,400]);

    d3.json('/mydata.json', function(data) {
        data = data['data']
        
        
        var nodes = tree.nodes(data);
        var links = tree.links(nodes);
        
        var node = canvas.selectAll('.node')
            .data(nodes)
            .enter()
            .append('g')
                .attr('class', 'node')
                .attr('transform', function (d) { return "translate(" + d.x + "," + d.y + ")"; });

        node.append('circle')
            .attr('r', 5)
            .attr('fill', 'steelBlue');

        node.append('text')
            .text(function(d) { return d.name; })

        canvas.selectAll('.link')
            .data(links)
            .enter()
            .append('path')
            .attr('class', 'link')
            .attr('fill', 'none')
            .attr('stroke', 'gray')
            .attr('d', diagonal);


    })


</script>

</body>
</html>