{% extends 'base.html' %}
{% block content %}

<h2><u>Edit Event Details</u></h2>

<form action='/handle_edits', method='POST'>

<input type='hidden' name='event_id' value='{{ event.id }}'>
<input type='hidden' name='contact_id' value='{{ event.contacts[0].id }}'>

Contact name: <input type='text' name='contact_name' value='{{event.contacts[0].name}}' required> <br>
Contact's email: <input type='email' name='contact_email' value='{{event.contacts[0].email}}' required><br>
Contact's phone: <input type='tel' name='contact_phone' value='{{event.contacts[0].phone}}'> <br>
<br>
<!-- Template: 
    <select name='template_id'>
        <option value='1'>Follow Up</option>
        <option value='2'>Thank You</option>
    </select> <br>
     -->
    
Template Text: <br>
<textarea name="template_text">
Dear {{event.contacts[0].name}}, 
{{event.template.text}}
{{user.fname}}
</textarea><br>


Date to be sent: <input type="date" name='date' min="" class="min-today" id="editeventdate" placeholder="YYYY-MM-DD" data-date-split-input="true" required/> originally set to {{ event.date }} <br><br>

<input type="submit" value="Modify Event/Contact">
</form>


{% endblock %}

