{% extends 'base.html' %}
{% block content %}

<h2><u>Create Event</u></h2>
<form id='newevent' action='/add_event', method='POST'>

Contact's name: <input type='text' name='contact_name' required> <br>
Contact's email: <input type='email' name='contact_email' required><br>
Contact's phone: +1<input type='tel' name='contact_phone'><br>
Date to be sent: <input type="date" name='date' class="datefield"min="" max="" id="neweventdate" data-date-split-input="true" required/>
<br><br>

<h3>Add Input to the Message: </h3>
1. What's the subject or purpose of this message? (Keep it short!)
<input type='text' name='template_name' required>
<br>

2. How do you want to greet them? 
        <select name='greet'>
            <option value='Dear'>Dear</option>
            <option value='Hey'>Hey</option>
            <option value='Hello'>Hello</option>
        </select> <br>

    

3. What do you want them to know? <br>
<!-- <input type='text' name='body' value="thank you for..." required> -->
<textarea name="body">
Thank you for...
</textarea>
 
<br>

4. How do you want to sign off? 
    <select name='sign_off'>
        <option value='Sincerely'>Sincerely</option>
        <option value='Yours'>Yours</option>
        <option value='Best'>Best</option>
    </select> <br><br>

<input type='submit' value='Add Contact, Event, and Message'>
</form>



{% endblock %}

