{% extends 'base.html' %}
{% block content %}

<h2><u>Create Contact and Event</u></h2>
<form id='newevent' action='/add_event', method='POST'>

Contact's name: <input type='text' name='contact_name' required> <br>
Contact's email: <input type='email' name='contact_email' required><br>
Contact's phone: +1<input type='tel' name='contact_phone'><br>
Contact's address: <input type='text' name='contact_address'><br>
<br><br>

<h3>Add Input to the Message: </h3>

1. Date to be sent: <input type="date" name='date' class="datefield"min="" max="" id="neweventdate" data-date-split-input="true" required/> <br>

2. What's the subject of this message? (Keep it short!)
<input type='text' name='template_name' required> <br>

3. How do you want to greet them? 
        <select name='greet'>
            <option value='Dear'>Dear</option>
            <option value='Hey'>Hey</option>
            <option value='Hello'>Hello</option>
        </select> <br>


4. What do you want them to know? <br>
...or choose a prefilled message if you'd like!         
        <select class='template_type' name='template_type'>
            <option disabled selected value>Select prefilled</option>
            <option value='ty'>Thank you</option>
            <option value='hb'>Happy birthday</option>
            <option value='fup'>Follow Up</option>
        </select> 
        <br>
<textarea class='template_textarea' name="body">
You're awesome!
</textarea>
<br>


4. How do you want to sign off? 
    <select name='sign_off'>
        <option value='Sincerely'>Sincerely</option>
        <option value='Yours'>Yours</option>
        <option value='Best'>Best</option>
    </select> <br><br>

<input type='submit' value='Add Contact, Event, and Message'>
</form>


{% endblock %}

