
{% extends 'base.html' %}
{% block content %}



<div id='status1'></div>
<button onclick='getInfo()'>get info</button>
<button onclick='loginGetInfo()' id='whatever'> login and get info</button>
<button onclick='loginGetInfo2()'> getInfo, Register, Login </button>

<br>
<br>
<fb:login-button 
  class="fb-login-button" 
  data-max-rows="1" 
  data-size="medium" 
  data-show-faces="false" 
  data-auto-logout-link="false" 
  data-use-continue-as="true"
  data-button-type="continue_with" 
  onlogin="loginGetInfo2();">
</fb:login-button>

{% endblock %}


