{% extends 'base.html' %}
{% block content %}




<h2>Users</h2>
<p><a href="/users">View all users</a></p>


<div id="status"></div>

<!-- {% if session.get('user_id') == None %} -->
<!-- FB OAuth -->
<!-- Button: Continue with Facebook -->
<!-- For new users registering with FB -->
<div 
    class="fb-login-button" 
    data-max-rows="1" 
    data-size="medium" 
    data-button-type="continue_with" 
    data-show-faces="false" 
    data-auto-logout-link="false" 
    data-use-continue-as="true"
    onlogin="RegisterWithFB();"
</div>
<!-- Button: log in with FB -->
<!-- For existing users who want to log in with FB -->
<fb:login-button 
      scope="public_profile,email,first_name,last_name,user_friends"
      onlogin="checkLoginState();">
</fb:login-button> 

<!-- {% endif %}
 -->

<!-- check if logged in and show events -->
<!-- <h2>Events</h2>
<p><a href="/events">View your events</a></p> -->



{% endblock %}

