<!doctype html>

<html>


<head>
  <meta charset='UTF-8'>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/project.js"></script>
    <title>Keep in Touch</title>
</head>


<body>

<div id="fb-root"></div>

<!-- NAVBAR -->


<div>
    <nav class="navbar navbar-default tembus">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="/">Keep in Touch</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="/users/{{session.get('user_id')}}">My Profile</a></li>
            <li><a data-toggle="modal" data-target="#editprofile-modal">Edit My Profile</a></li>
            <li class=""><a data-toggle="modal" data-target="#eventform-modal">Create New Event</a></li>
            <li><a href="/logout" id='logoutbutton'>Log Out</a></li>
          </ul>
          </ul>
        </div>
      </div>
    </nav>
</div>



<!-- ADD TOTALLY NEW EVENT/CONTACT MODAL :: event_form.html -->
        <div class="modal fade" id="eventform-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">
         <button data-dismiss="modal" class="close" id='base-new-close' type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>

          <h1>Create New Event</h1><br>
          <form id='basenewevent' class='newevent' action='/add_event', method='POST'>

              <label for="fname">Contact's Name</label>

                <select class='choose-existing' name='choose-existing'>
                <option disabled selected value>Choose from existing</option>
                {% for contact in user.contacts|sort(attribute='name') %}
                  <option value='{{ contact.id }}'>{{ contact.name }}</option>
                {% endfor %}
              </select>
              <br>

              <input type="text" name="contact_name" placeholder="New Contact Name"><br>


              <label for="email">Contact's Email</label>
              <input type="email" name="contact_email" placeholder="Email" required>
              
              <label for="address">Contact's Address</label>
              <input type="text" name="contact_address" placeholder="Address">
            
              <label for="phone">Contact's Phone</label>
              <input type="phone" name="contact_phone" placeholder="+1">

          <label for="date">Date to be sent</label> 
              <input type="date" name='date' class="datefield" min="" max="" data-date-split-input="true" required/><br>
          
          <label for="subject">Message subject</label> <input type='text' name='template_name' required> <br>
              
          How do you want to greet them? 
            <select name='greet'>
                <option value='Dear'>Dear</option>
                <option value='Hey'>Hey</option>
                <option value='Hello'>Hello</option>
            </select> <br>
    

        What do you want them to know? <br> ...or choose a prefilled message if you'd like!         
            <select class='template_type' name='template_type'>
                <option disabled selected value>Select prefilled</option>
                <option value='ty'>Thank you</option>
                <option value='hb'>Happy birthday</option>
                <option value='fup'>Follow Up</option>
                <option value='markov'>Random Generator</option>
            </select> 
            <br>
                <textarea class='template_textarea' name="body">
You're awesome!
                </textarea>
                <br>

        How do you want to sign off? 
            <select name='sign_off'>
                <option value='Sincerely'>Sincerely</option>
                <option value='Yours'>Yours</option>
                <option value='Best'>Best</option>
              </select> <br><br>
            
          <input type="submit" class="login loginmodal-submit" id='base-new-submit' value="Add New Contact/Event">
          </form>

          </div>
        </div>
      </div>
<!-- END ADD TOTALLY NEW EVENT/CONTACT MODAL -->  





<div class="container">

    <!-- Flash messages -->
    <ul class='red'>
      {% for message in get_flashed_messages() %}
        <li> {{ message.decode('utf-8') }} </li>
      {% endfor %}
    </ul>

    <h1>Keep in Touch</h1>
    Keep in Touch lets you automate keeping in touch 

<br>
<hr>

  <div class="row">
    <div class="col-sm-10">
<!--         {% block content %} 
            put your content here 
        {% endblock %} -->
    </div>
  </div>
</div>

<br>
<br>
<br>


  <hr>

<footer>
          <div class="container">
            <div class="col-sm-10" >
                <span> 


                  <b>Relationships are important -- </b>Keep in Touch helps you automate keeping in touch with people, meaningfully or at all.

                </span>
                <br><br>
              <span id="quote-text"></span> 
              <br><br>

          </div>
          </div>

<script src="/static/project.js"></script>
</footer>


</body>
</html>
