{% extends 'base.html' %}
{% block content %}




<h2>Users</h2>
<p><a href="/users">View all users</a></p>


<div id="status"></div>

<!-- FB OAuth -->
<!-- Button: Continue with Facebook (new registration) -->
<div
    class="fb-login-button" 
    data-max-rows="1" 
    data-size="medium" 
    data-button-type="continue_with" 
    data-show-faces="false" 
    data-auto-logout-link="false" 
    data-use-continue-as="true"
    onlogin="RegisterWithFB();">
</div>


<!-- Button: log in with FB-->

<fb:login-button 
  scope="public_profile,email,user_friends"
  onlogin="checkLoginState();">
</fb:login-button>



{% endblock %}

