{% extends 'base.html' %}
{% block content %}

<!-- FB OAuth -->
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=385706508528517';
  fjs.parentNode.insertBefore(js, fjs);
} 
(document, 'script', 'facebook-jssdk'));
</script>



<h2>Users</h2>
<p><a href="/users">View all users</a></p>


<div id="status"></div>

<!-- FB OAuth -->
<!-- Button: Continue with Facebook (new registration) -->
<div
    class="fb-login-button" 
    data-max-rows="1" 
    data-size="medium" 
    data-button-type="continue_with" 
    data-show-faces="false" 
    data-auto-logout-link="false" 
    data-use-continue-as="true"
    onlogin="RegisterWithFB();">
</div>

<!-- Button: log in with FB-->
<fb:login-button 
      scope="public_profile,email,first_name,last_name,user_friends"
      onlogin="checkLoginState();">
</fb:login-button> 




{% endblock %}

