<!doctype html>

<html>


<head>
  <meta charset='UTF-8'>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/project.js"></script>
    <title>Keep in Touch</title>
</head>


<body>

<div id="fb-root"></div>

<!-- NAVBAR -->




<div>
  <header style="">
    <nav class="navbar navbar-default tembus" style="border-color:none;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="/">Keep in Touch</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="hvrcenter" data-toggle="modal" data-target="#register-modal">Sign Up</a></li>
            <li><a class="hvrcenter" data-toggle="modal" data-target="#login-modal">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>





<!-- LOGIN MODAL -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

        <div class="modal-dialog">
        <div class="loginmodal-container">
         <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>

          <h1>Log In</h1><br>
          <form action='/login', method='POST'>
          <input type="text" name="login_email" placeholder="Email">
          <input type="password" name="login_password" placeholder="Password">
          <input type="submit" name="login" class="login loginmodal-submit" value="Login">
          </form>

          <fb:login-button 
                      class="fb-login-button" 
                      data-max-rows="1" 
                      data-size="medium" 
                      data-show-faces="false" 
                      data-auto-logout-link="false" 
                      data-use-continue-as="true"
                      data-button-type="continue_with" 
                      onlogin="loginGetInfo2();">
          </fb:login-button>
          <br>
          <a data-dismiss="modal" data-toggle="modal" data-target="#register-modal">Already a user?</a>

          </div>
      </div>
  </div>

<!-- REGISTRATION MODAL  -->

    <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

        <div class="modal-dialog">
        <div class="loginmodal-container">
         <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>
          <h1>Sign Up</h1><br>

          <form action='/register', method='POST'>
          <input type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <input type="text" name="fname" placeholder="First Name">
          <input type="text" name="lname" placeholder="Last Name">
          <input type="phone" name="phone" placeholder="Phone">
          <input type="submit" class="login loginmodal-submit" value="Register">

          
          <fb:login-button 
                      class="fb-login-button" 
                      data-max-rows="2" 
                      data-size="medium" 
                      data-show-faces="false" 
                      data-auto-logout-link="false" 
                      data-use-continue-as="true"
                      data-button-type="continue_with" 
                      onlogin="loginGetInfo2();">
          </fb:login-button>
          
        <a data-dismiss="modal" data-toggle="modal" href="#lost" data-target="#login-modal">Already have an account?</a>

        </form>


          </div>
        </div>
      </div>


<!-- END REGISTRATION MODAL -->





<div class="container">

    <!-- Flash messages -->
    <ul class='red'>
      {% for message in get_flashed_messages() %}
        <li> {{ message.decode('utf-8') }} </li>
      {% endfor %}
    </ul>






    <div class='container'>
<!--           <h1>Keep in Touch</h1>
    Keep in Touch lets you automate keeping in touch 
      <div class='row'>
        
        <div class="col-sm-6 col-xs-12"> 
          <div class='img1'>
            <img src="/static/img2.png" height='500px'>
          </div>
        </div>

        <div class='col-sm-6'>
          <h1>Keep in Touch</h1>
          <div> 
          </div>
        </div> -->
      <div class="row">
    <div class="col-sm-10">
      <img src="/static/landingpage.png">

    </div>
  </div>
</div>


      </div>
    </div>

<br>
<hr>

  <div class="row">
    <div class="col-sm-12">


    <fb:login-button 
      class="fb-login-button" 
      data-max-rows="1" 
      data-size="medium" 
      data-show-faces="false" 
      data-auto-logout-link="false" 
      data-use-continue-as="true"
      data-button-type="continue_with" 
      onlogin="loginGetInfo2();">
    </fb:login-button>



    </div>
  </div>
</div>

<br>
<br>
<br>


  <hr>

<footer>
          <div class="container">
            <div class="col-sm-10" >
                <span> 


                  <b>Relationships are important -- </b>Keep in Touch helps you automate keeping in touch with people, meaningfully or at all.

                </span>
                <br><br>
              <span id="quote-text"></span> 
              <br><br>

          </div>
          </div>

<script src="/static/project.js"></script>
</footer>


</body>
</html>
