<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<!--     <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">
 -->
    <title>Profile</title>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/project.js"></script>


    <style type="text/css">

        html {
            position: relative;
            min-height: 100%;
        }
        body {
            background-color: #ECEFF1;
            color: #37474F;
            font-family: 'Nunito', sans-serif;
            font-weight: 300;
            font-size: 16px;
        }
        h1, h2, h3 {
            font-weight: 100;
        }
        .grid-item {
            text-align: center;
            width: 200px;
            padding: 15px;
            margin-top:10px;
            background-color: #F0FFFF;

        }

        .img-circle{
            border-radius: 50%;
            display: block;
            margin: auto;
        }

        div {
            text-align: center;
        }



/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}


.loginmodal-container input[type=text], input[type=date],input[type=password], input[type=phone], input[type=email] {
  height: 30px;
  font-size: 14px;
  width: 90%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=date]:hover, input[type=phone]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;

}

.loginmodal-submit{
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}


.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}


/*navbar*/

.navbar-default{
  background-color: transparent; !important; 
  border-color: none;
}
.navbar-default .navbar-header > a {
}
.navbar-default .navbar-nav > li > a{
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}


.tembus{
  background-color: transparent !important;
}
.hvrcenter {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvrcenter:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #ECF0F1;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvrcenter:hover:before, .hvrcenter:focus:before, .hvrcenter:active:before {
  left: 0;
  right: 0;
}


</style>


</head>
<body>

<!-- NAVBAR -->


<div>
    <nav class="navbar navbar-default tembus">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="/">Keep in Touch</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="/users/{{session.get('user_id')}}">My Profile</a></li>
            <li><a data-toggle="modal" data-target="#editprofile-modal">Edit My Profile</a></li>
            <li class=""><a data-toggle="modal" data-target="#eventform-modal">Create New Event</a></li>
            <li><a href="/logout" id='logoutbutton'>Log Out</a></li>
          </ul>
          </ul>
        </div>
      </div>
    </nav>
</div>


 <!-- EDIT PROFILE MODAL -->
                              <div class="modal fade" id="editprofile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                      <div class="modal-dialog">
                                      <div class="loginmodal-container">

                                       <button data-dismiss="modal" class="close" type="button">
                                        <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
                                      </button>

                                        <h1>Edit My Info</h1><br>
                                        <form action='/e_profile', method='POST'>
                                           
                                            <!-- <label for="fname">First name</label> -->
                                            <input type="text" name="fname" placeholder="First Name" value='{{ user.fname }}'>
                                            
                                            <!-- <label for="lname">Last name</label> -->
                                            <input type="text" name="lname" placeholder="Last Name" value='{{ user.lname }}'>
                                            
                                            <!-- <label for="email">Email</label> -->
                                            <input type="email" name="email" placeholder="Email" value='{{ user.email }}'>

                                            <!-- <label for="phone">Phone</label> -->
                                            <input type="phone" name="phone" placeholder="Phone" value='{{ user.phone }}'>
                                        
                                        <input type="submit" class="login loginmodal-submit" value="Save">
                                        </form>

                                        </div>
                                      </div>
                                    </div>
<!-- END EDIT PROFILE MODAL -->



<!-- UPCOMING EVENTS CAROUSEL  -->
<div class="container">
  <h1 id='carousel_h1'>Upcoming events</h1>
  <h2><a data-toggle="modal" data-target="#eventform-modal">Add Event</a></h2>
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">


    {% if upcoming_events %}
     {% for event in upcoming_events %} 
          {% if not event.job_done %}
          <div class="item thing">
            <div class="col-xs-4">
              <a data-toggle="modal" data-target="#editevent-modal-{{event.id}}">
                 [{{event.date.month}}/{{event.date.day}}/{{event.date.year}}]  
                {{event.template.name}} message for: <br>
                {{event.contacts[0].name}} 
                <br>
                 <img src="{{event.contacts[0].pic_url}}" align="left" class="img-responsive" hspace="10">
                <span> {{event.template.text[:450]}}...</span>
              </a>
            </div>
          </div>
          {% endif %}
   {% endfor %}
{% endif %}
          <div class="item active">
            <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/f44336/000000" class="img-responsive"></a></div>
          </div>

          <div class="item">
            <div class="col-xs-4"><a data-toggle="modal" data-target="#eventform-modal"><img src="http://placehold.it/300/e91e63/000000" class="img-responsive"></a></div>
          </div>

          <!-- add  more items here -->


          <!--  Example item end -->
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>
<br><br>


<!-- END UPCOMING EVENTS CAROUSEL -->



<!-- ADD TOTALLY NEW EVENT/CONTACT MODAL :: event_form.html -->
        <div class="modal fade" id="eventform-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">
         <button data-dismiss="modal" class="close" id='base-new-close' type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>

          <h1>Create New Event</h1><br>
          <form id='basenewevent' class='newevent' action='/add_event', method='POST'>

              <!-- <label for="fname">Contact's Name</label> -->

                <select class='choose-existing' name='choose-existing'>
                <option disabled selected value>Choose from existing</option>
                {% for contact in user.contacts|sort(attribute='name') %}
                  <option value='{{ contact.id }}'>{{ contact.name }}</option>
                {% endfor %}
              </select>
              <br>

              <input type="text" name="contact_name" placeholder="Name"><br>


              <!-- <label for="email">Contact's Email</label> -->
              <input type="email" name="contact_email" placeholder="Email" required>
              
              <!-- <label for="address">Contact's Address</label> -->
              <!-- <input type="text" name="contact_address" placeholder="Address"> -->
            
              <!-- <label for="phone">Contact's Phone</label> -->
              <input type="phone" name="contact_phone" placeholder="+1">

          <label for="date">Date to be sent</label> 
              <input type="date" name='date' class="datefield" min="" max="" data-date-split-input="true" placeholder='Date to be sent'required/><br>
          
          <!-- <label for="subject">Message subject</label>  -->
          <input type='text' name='template_name' placeholder='Message Subject'required> <br>
              
          How do you want to greet them? 
            <select name='greet'>
                <option value='Dear'>Dear</option>
                <option value='Hey'>Hey</option>
                <option value='Hello'>Hello</option>
            </select> <br>
    

        What do you want them to know? <br> ...or choose a prefilled message if you'd like!         
            <select class='template_type' name='template_type'>
                <option disabled selected value>Select prefilled</option>
                <option value='ty'>Thank you</option>
                <option value='hb'>Happy birthday</option>
                <option value='fup'>Follow Up</option>
            </select> 
            <br>
                <textarea class='template_textarea' name="body">
You're awesome!
                </textarea>
                <br>

        How do you want to sign off? 
            <select name='sign_off'>
                <option value='Sincerely'>Sincerely</option>
                <option value='Yours'>Yours</option>
                <option value='Best'>Best</option>
              </select> <br><br>
            
          <input type="submit" class="login loginmodal-submit" id='base-new-submit' value="Add New Contact/Event">
          </form>

          </div>
        </div>
      </div>
<!-- END ADD TOTALLY NEW EVENT/CONTACT MODAL -->  



    
<section class="container">
    <div class="page-header">
        <h1>My Contacts<br>
            <small>Stay in touch</small></h1>
    </div>

    <div class="row active-with-click grid">

{% for contact in contacts|sort(attribute='name') %}

        <div class="grid-item">
            <article class="material-card Purple">
                <h4>
                    <span><a data-toggle="modal" data-target="#editcontact-modal-{{contact.id}}">{{contact.name}}</a></span>
                </h4>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive img-circle" src="{{contact.pic_url}}">
                    </div>
                <div class="mc-description">
                    {% if contact.events %}
                    <h5>Events</h5>
                            {% for event in contact.events %}
                            <small><a data-toggle="modal" data-target="#editevent-modal-{{event.id}}">[{{event.date.month}}/{{event.date.day}}/{{event.date.year}}]  : {{event.template.name}}</a></small>





<!-- EVENT MODALS (need to pass in EVENT) ###################################-->

      <!-- EDIT EVENT MODAL :: edit_event.html ////////////////////////////////////-->
              <div class="modal fade" id="editevent-modal-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog">
              <div class="loginmodal-container">

               <button data-dismiss="modal" class="close" type="button">
                <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
              </button>
             
                <h2>Edit Message</h2>
                <form action='/handle_edits', method='POST'>
                <input type='hidden' name='event_id' value='{{ event.id }}'>
                <input type='hidden' name='contact_id' value='{{ event.contacts[0].id }}'>

      Contact name: <input type='text' name='contact_name' value='{{event.contacts[0].name}}' required> <br>
      Contact's email: <input type='email' name='contact_email' value='{{event.contacts[0].email}}' required><br>
      Contact's phone: <input type='phone' name='contact_phone' value='{{event.contacts[0].phone}}'> <br>
<!--       Contact's address: <input type='text' name='contact_address' value='{{event.contacts[0].address}}'> <br> -->
      Date to be sent: 
      <input type="date" name='date' class="datefield" min="" max="" value="{{event.date.year}}-{{ event.date.month}}-{{ event.date.day}}" data-date-split-input="true" required/><br>
      Subject: <input type='text' name='template_name' value='{{event.template.name}}'> <br>
      Text: <br> <textarea name="template_text">{{event.template.text}}</textarea><br>

                <input type="submit" class="login loginmodal-submit" value="Save">
                </form>

                <form action="/remove_event" method='POST'>
                    <input type='hidden' name='event_id' value='{{ event.id }}'>
                    <input type='submit' value="Remove Event">
                </form>

                </div>
              </div>
            </div>
      <!-- END EDIT EVENT MODAL :: edit_event.html ////////////////////////////////-->


<!-- END EVENT MODALS (where you need to pass in an event) ######################################-->










                        {% endfor %}
                {% endif %}
                </div>
                </div>

               <div class="mc-footer">
                    <h4>
                    </h4>
                    <a data-toggle="modal" data-target="#addeventcontact-modal-{{contact.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                    <a class="fa fa-calendar-check-o"></a>
                </div>
            </article>
        </div>



<!-- ADD EVENT FOR CONTACT MODAL ////////////////////////////////////////////////////////////////-->
        <div class="modal fade" id="addeventcontact-modal-{{contact.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">
         <button data-dismiss="modal" class="close" id='user-new-close' type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>

          <h3>Event for {{ contact.name}}</h3><br>
          <form id='neweventcontact' class='newevent' action='/handle_new_event_for_contact', method='POST'>
          <label for="date">Date to be sent</label> 
              <input type="date" name='date' class="datefield" min="" max="" data-date-split-input="true" required/><br>
          
          <label for="subject">Message subject</label> <input type='text' name='template_name' required> <br>
           <label for=greet>How do you want to greet them? </label>   
            <select name='greet'>
                <option value='Dear'>Dear</option>
                <option value='Hey'>Hey</option>
                <option value='Hello'>Hello</option>
            </select> <br>
    

        What do you want them to know? <br> ...or choose a prefilled message if you'd like!         
            <select class='template_type2' name='template_type2'>
                <option disabled selected value>Select prefilled</option>
                <option value='ty'>Thank you</option>
                <option value='hb'>Happy birthday</option>
                <option value='fup'>Follow Up</option>
            </select> 
            <br>
                <textarea class='template_textarea2' name="body">You're awesome!</textarea>
                <br>

        How do you want to sign off? 
            <select name='sign_off'>
                <option value='Sincerely'>Sincerely</option>
                <option value='Yours'>Yours</option>
                <option value='Best'>Best</option>
              </select> <br><br>
            
            <input type='hidden' name='contact_id' value='{{ contact.id }}'>
          <input type="submit" class="login loginmodal-submit" id='user-new-submit' value="Add Event">
          </form>

          </div>
        </div>
      </div>
<!-- END ADD EVENT FOR CONTACT MODAL ////////////////////////////////////////////////////////////////-->



<!-- REMOVE CONTACT MODAL //////////////////////////////////////////////////////////////////////////-->
    <div class="modal fade" id="removecontact-modal-{{contact.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
      <div class="loginmodal-container">
      <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
      </button>

      <h3>Are you sure you want to delete <u>{{ contact.name }}</u> as a contact?</h3>
      and all of the nice messages you had in mind? <br> <br>
        <ol>
          {% for event in contact.events %}
            <li> {{ event.template.name }}</li>
          {% endfor %}
        </ol> 
        <br><br>
            <form action='/remove_contact', method='POST'>
                  <input type='hidden' name='contact_id' value='{{contact.id}}'>
                <input type="submit" class="login loginmodal-submit" value='Yes, remove them out of my life'>
          </form>

          </div>
        </div>
      </div>
<!-- END REMOVE CONTACT MODAL ////////////////////////////////////////////////////////////////-->


<!-- EDIT CONTACT INFO MODAL //////////////////////////////////////////////////-->
        <div class="modal fade" id="editcontact-modal-{{contact.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">

         <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>

          <h1>Edit {{ contact.name }}'s Info</h1><br>
          <form action='/edit_contact/{{ contact.id }}', method='POST'>

              <label for="fname">Name</label>
              <input type="text" name="name" placeholder="Name" value='{{ contact.name }}'>
              
              <label for="email">Email</label>
              <input type="email" name="email" placeholder="Email" value='{{ contact.email }}'>
              
              <label for="address">Address</label>
              <input type="text" name="address" placeholder="Address" value='{{ contact.address }}'>
            
              <label for="phone">Phone</label>
              <input type="phone" name="phone" placeholder="Phone" value='{{ contact.phone }}'>
            
          <input type="submit" class="login loginmodal-submit" value="Save">

                  <!-- link to modal to delete contact -->
         <a data-toggle="modal" data-target="#removecontact-modal-{{contact.id}}">
            <button type="button" class="btn btn-default btn-sm">
             Remove {{contact.name}} from contacts 
            </button>
        </a><br>

          </form>

          </div>
        </div>
      </div>
<!-- END EDIT CONTACT INFO MODAL //////////////////////////////////////////////-->


{% endfor %}





<!-- 
        <div class="grid-item">
            <article class="material-card Red">
                <h2>
                    <span>Christopher Walken</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        The Deer Hunter
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-christopher-walken.jpg">
                    </div>
                    <div class="mc-description">
                        He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                        He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                        He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div>

        <div class="grid-item">
            <article class="material-card Pink">
                <h2>
                    <span>Sean Penn</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Mystic River
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-sean-penn.jpg">
                    </div>
                    <div class="mc-description">
                        He has won two Academy Awards, for his roles in the mystery drama Mystic River (2003) and the biopic Milk (2008). Penn began his acting career in television with a brief appearance in a 1974 episode of Little House on the Prairie ...
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div> -->

        
    <!--</div>-->
    <!--<div class="row active-with-hover">-->

      <!-- 
        <div class="grid-item">
            <article class="material-card Deep-Orange">
                <h2>
                    <span>Robert De Niro</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Taxy Driver
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="https://dl.dropboxusercontent.com/u/2691310/github/material-card/thumb-robert-de-niro.jpg">
                    </div>
                    <div class="mc-description">
                        His first major film roles were in the sports drama Bang the Drum Slowly (1973) and Martin Scorsese's crime film Mean Streets (1973). In 1974, after being turned down for the role of Sonny Corleone in the crime ...
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a class="fa fa-fw fa-facebook"></a>
                    <a class="fa fa-fw fa-twitter"></a>
                    <a class="fa fa-fw fa-linkedin"></a>
                    <a class="fa fa-fw fa-google-plus"></a>
                </div>
            </article>
        </div> -->


    </div>
</section>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script scr="/static/project.js"></script>
<script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<script>
    $(function() {
        var $grid = $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: 290,
        });
        $('.material-card').materialCard();
        $('.material-card').on('shown.material-card hidden.material-card', function (event) {
            $grid.masonry();
        });
    });
</script>
</body>
</html>