{% extends 'base.html' %}
{% block content %}

<h2>{{ user.fname}} {{user.lname}}'s profile</h2> 

{% if user.id == session.get('user_id') %}
    Email: {{ user.email }}
    <br>
    Phone: {{ user.phone }}
    <br>
<!--     (<a href="/edit_profile">Edit My info</a>) -->

    <a data-toggle="modal" data-target="#editprofile-modal">Edit My Info</a>

<!-- EDIT PROFILE MODAL -->
<div class="modal fade" id="editprofile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">

         <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>

          <h1>Edit My Info</h1><br>
          <form action='/e_profile', method='POST'>

              <label for="email">Email</label>
              <input type="email" name="email" placeholder="Email" value='{{ user.email }}'>
             
              <label for="fname">First name</label>
              <input type="text" name="fname" placeholder="First Name" value='{{ user.fname }}'>
              
              <label for="lname">Last name</label>
              <input type="text" name="lname" placeholder="Last Name" value='{{ user.lname }}'>
              
              <label for="phone">Phone</label>
              <input type="phone" name="phone" placeholder="Phone" value='{{ user.phone }}'>
          
          <input type="submit" class="login loginmodal-submit" value="Save">
          </form>

          </div>
        </div>
      </div>

<!-- END EDIT PROFILE MODAL -->


{%endif%}

<!-- Contacts list, with events -->
<br><br>
<p class='green'> People {{user.fname}} Will Keep in Touch With:</p>
<ul> {% for contact in contacts %}
    <li > 
        <span class="contact-name" id="{{contact.id}}">{{ contact.name }}</span>
           {% if user.id == session.get('user_id') %} 
                <!-- (<a href="/edit_contact/{{contact.id}}" style='font-size: 12px'><b>Edit contact info</b></a>) -->

                <a data-toggle="modal" data-target="#editcontact-modal">Edit Contact Info</a>


<!-- EDIT CONTACT INFO MODAL -->
        <div class="modal fade" id="editcontact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">

         <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>

          <h1>Edit {{ contact.name}}'s Info</h1><br>
          <form action='/edit_contact/{{ contact.id }}', method='POST'>

              <label for="email">Email</label>
              <input type="email" name="email" placeholder="Email" value='{{ contact.email }}'>
             
              <label for="fname">Name</label>
              <input type="text" name="name" placeholder="Name" value='{{ contact.name }}'>
              
              <label for="phone">Phone</label>
              <input type="phone" name="phone" placeholder="Phone" value='{{ contact.phone }}'>
            
          
          <input type="submit" class="login loginmodal-submit" value="Save">
          </form>

          </div>
        </div>
      </div>

<!-- END EDIT CONTACT INFO MODAL -->
{% endif %} 

        {% if contact.user_id == session.get('user_id') %}
            <div id='contact-options-{{contact.id}}'></div>
        {% endif %} 
    </li> 
        <ul> {% for event in contact.events|sort(attribute='date') %}
            {% if contact.user_id == session.get('user_id') %}
            <li>[{{event.date.month}}/{{event.date.day}}/{{event.date.year}}]  
                    <a href="/edit_event/{{event.id}}">{{ event.template.name }}</a>
                {% endif %} 
            </li>
        {% endfor %} 

        </ul>
   
        {% if contact.user_id == session.get('user_id') %}
         <a href="/add_event/{{contact.id}}"style='font-size: 12px'><b>Add a new event for {{contact.name}}</b></a><br>
         <a href="/remove_contact/{{contact.id}}" style='font-size: 12px'><b>Delete {{contact.name}} and their events</b></a><br><br>
         {% endif %} 
    {% endfor %}
</ul>


<br>
<br> 
     {% if user.id == session.get('user_id') %}
        <a href="/add_event"> <b>Add a new contact/event</b></a>
    {%endif%}
{% endblock %}