{% extends 'base.html' %}
{% block content %}

<h2>{{ user.fname}} {{user.lname}}'s profile</h2> 

{% if user.id == session.get('user_id') %}
    Email: {{ user.email }}
    <br>
    Phone: {{ user.phone }}
    <br>

    <a data-toggle="modal" data-target="#editprofile-modal">Edit My Info</a>

<!-- EDIT PROFILE MODAL -->
<div class="modal fade" id="editprofile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">

         <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>

          <h1>Edit My Info</h1><br>
          <form action='/e_profile', method='POST'>

              <label for="email">Email</label>
              <input type="email" name="email" placeholder="Email" value='{{ user.email }}'>
             
              <label for="fname">First name</label>
              <input type="text" name="fname" placeholder="First Name" value='{{ user.fname }}'>
              
              <label for="lname">Last name</label>
              <input type="text" name="lname" placeholder="Last Name" value='{{ user.lname }}'>
              
              <label for="phone">Phone</label>
              <input type="phone" name="phone" placeholder="Phone" value='{{ user.phone }}'>
          
          <input type="submit" class="login loginmodal-submit" value="Save">
          </form>

          </div>
        </div>
      </div>

<!-- END EDIT PROFILE MODAL -->

{%endif%}

<!-- Contacts list, with events -->
<br><br>
<p class='green'> People {{user.fname}} Will Keep in Touch With:</p>
<ul> {% for contact in contacts %}
    <li > 
        <span class="contact-name" id="{{contact.id}}">{{ contact.name }}</span>
           {% if user.id == session.get('user_id') %} 
                <!-- (<a href="/edit_contact/{{contact.id}}" style='font-size: 12px'><b>Edit contact info</b></a>) -->

                <a data-toggle="modal" data-target="#editcontact-modal">Edit Contact Info</a>


<!-- EDIT CONTACT INFO MODAL -->
        <div class="modal fade" id="editcontact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">

         <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>

          <h1>Edit {{ contact.name}}'s Info</h1><br>
          <form action='/edit_contact/{{ contact.id }}', method='POST'>

              <label for="fname">Name</label>
              <input type="text" name="name" placeholder="Name" value='{{ contact.name }}'>
              
              <label for="email">Email</label>
              <input type="email" name="email" placeholder="Email" value='{{ contact.email }}'>
              
              <label for="address">Address</label>
              <input type="text" name="address" placeholder="Address" value='{{ contact.address }}'>
            
              <label for="phone">Phone</label>
              <input type="phone" name="phone" placeholder="Phone" value='{{ contact.phone }}'>
            
          <input type="submit" class="login loginmodal-submit" value="Save">
          </form>

          </div>
        </div>
      </div>
<!-- END EDIT CONTACT INFO MODAL -->
{% endif %} 

        {% if contact.user_id == session.get('user_id') %}
            <div id='contact-options-{{contact.id}}'></div>
        {% endif %} 
    </li> 
        <ul> {% for event in contact.events|sort(attribute='date') %}
            {% if contact.user_id == session.get('user_id') %}
            <li>[{{event.date.month}}/{{event.date.day}}/{{event.date.year}}]  
                    <a href="/edit_event/{{event.id}}">{{ event.template.name }}</a>
                    <br>
                    <a data-toggle="modal" data-target="#editevent-modal">{{ event.template.name }} modal</a>

<!-- EDIT EVENT MODAL :: edit_event.html -->
        <div class="modal fade" id="editevent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">

         <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>
       
          <h2><u>Edit Event Details</u></h2>
          <form action='/handle_edits', method='POST'>
          <input type='hidden' name='event_id' value='{{ event.id }}'>
          <input type='hidden' name='contact_id' value='{{ event.contacts[0].id }}'>

Contact name: <input type='text' name='contact_name' value='{{event.contacts[0].name}}' required> <br>
Contact's email: <input type='email' name='contact_email' value='{{event.contacts[0].email}}' required><br>
Contact's phone: <input type='phone' name='contact_phone' value='{{event.contacts[0].phone}}'> <br>
Contact's address: <input type='text' name='contact_address' value='{{event.contacts[0].address}}'> <br>
Date to be sent: 
<input type="date" name='date' class="datefield" min="" max="" value="{{event.date.year}}-{{ event.date.month}}-{{ event.date.day}}" data-date-split-input="true" required/><br>
Subject: <input type='text' name='template_name' value='{{event.template.name}}'> <br>
Text: <textarea name="template_text">{{event.template.text}}</textarea><br>

          <input type="submit" class="login loginmodal-submit" value="Save">
          </form>

          <form action="/remove_event" method='POST'>
              <input type='hidden' name='event_id' value='{{ event.id }}'>
              <input type='submit' value="Remove Event">
          </form>

          </div>
        </div>
      </div>
<!-- END EDIT EVENT MODAL :: edit_event.html -->



                {% endif %} 
            </li>
        {% endfor %} 

        </ul>
   
        {% if contact.user_id == session.get('user_id') %}
        <!-- link to modal to add event for contact -->
          <a data-toggle="modal" data-target="#addeventcontact-modal">Add a new event for {{contact.name}}</a><br>
        
        <!-- link to add event for contact page -->

          <!-- <a href="/add_event/{{contact.id}}"style='font-size: 12px'><b>Add a new event for {{contact.name}}</b></a><br> -->


<!-- ADD EVENT FOR CONTACT MODAL -->
        <div class="modal fade" id="addeventcontact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">
         <button data-dismiss="modal" class="close" id='user-new-close' type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>

          <h1>Add Event for {{ contact.name}}</h1><br>
          <form id='neweventcontact' class='newevent' action='/handle_new_event_for_contact', method='POST'>
              Contact's name: {{ contact.name}}<br>
              Contact's email: {{ contact.email }}<br>
              Contact's phone: {{ contact.phone }}<br>
              Contact's address: {{ contact.address }}<br>
          <label for="date">Date to be sent</label> 
              <input type="date" name='date' class="datefield" min="" max="" data-date-split-input="true" required/><br>
          
          <label for="subject">Message subject</label> <input type='text' name='template_name' required> <br>
              
          How do you want to greet them? 
            <select name='greet'>
                <option value='Dear'>Dear</option>
                <option value='Hey'>Hey</option>
                <option value='Hello'>Hello</option>
            </select> <br>
    

        What do you want them to know? <br> ...or choose a prefilled message if you'd like!         
            <select class='template_type' name='template_type'>
                <option disabled selected value>Select prefilled</option>
                <option value='ty'>Thank you</option>
                <option value='hb'>Happy birthday</option>
                <option value='fup'>Follow Up</option>
                <option value='markov'>Random Generator</option>
            </select> 
            <br>
                <textarea class='template_textarea' name="body">
You're awesome!
                </textarea>
                <br>

        How do you want to sign off? 
            <select name='sign_off'>
                <option value='Sincerely'>Sincerely</option>
                <option value='Yours'>Yours</option>
                <option value='Best'>Best</option>
              </select> <br><br>
            
            <input type='hidden' name='contact_id' value='{{ contact.id }}'>
          <input type="submit" class="login loginmodal-submit" id='user-new-submit' value="Add Event">
          </form>

          </div>
        </div>
      </div>
<!-- END ADD EVENT FOR CONTACT MODAL -->

         <!-- link to modal to delete contact -->
         <a data-toggle="modal" data-target="#removecontact-modal">Delete {{contact.name}} and their events modal</a><br>
         
         <!-- link to page to delete contact -->
         <!-- <a href="/remove_contact/{{contact.id}}" style='font-size: 12px'><b>Delete {{contact.name}} and their events</b></a><br><br> -->

<!-- REMOVE CONTACT MODAL -->
    <div class="modal fade" id="removecontact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
      <div class="loginmodal-container">
      <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
      </button>

      <h3>Are you sure you want to delete <u>{{ contact.name }}</u> as a contact?</h3>
      and all of the nice messages you had in mind? <br> <br>
        <ol>
          {% for event in contact.events %}
            <li> {{ event.template.name }}</li>
          {% endfor %}
        </ol> 
        <br><br>
            <form action='/remove_contact', method='POST'>
                  <input type='hidden' name='contact_id' value='{{contact.id}}'>
                <input type="submit" class="login loginmodal-submit" value='Yes, remove them out of my life'>
          </form>

          </div>
        </div>
      </div>
<!-- END REMOVE CONTACT MODAL -->






         {% endif %} 
    {% endfor %}
</ul>




<br>
<br> 
     {% if user.id == session.get('user_id') %}
     
     <!-- link to add contact/event modal -->
        <a data-toggle="modal" data-target="#eventform-modal">Add a new event/contact</a><br>
        
        <!-- link to add contact/event page -->
        <!-- <a href="/add_event"> <b>Add a new contact/event</b></a> -->



<!-- ADD TOTALLY NEW EVENT/CONTACT MODAL :: event_form.html -->
        <div class="modal fade" id="eventform-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
        <div class="loginmodal-container">
         <button data-dismiss="modal" class="close" type="button">
          <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
        </button>

          <h1>Add New Event/Contact</h1><br>
          <form class='newevent' action='/add_event', method='POST'>
              Contact's name
              <select name='contact_name'>
              {% for contact in user.contacts %}
                <option value='{{ contact.name }}'>{{ contact.name }}</option>
              {% endfor %}
              </select>

              <label for="email">Contact's Email</label>
              <input type="email" name="contact_email" placeholder="Email" required>
              
              <label for="address">Contact's Address</label>
              <input type="text" name="contact_address" placeholder="Address">
            
              <label for="phone">Contact's Phone</label>
              <input type="phone" name="contact_phone" placeholder="+1">

          <label for="date">Date to be sent</label> 
              <input type="date" name='date' class="datefield" min="" max="" data-date-split-input="true" required/><br>
          
          <label for="subject">Message subject</label> <input type='text' name='template_name' required> <br>
              
          How do you want to greet them? 
            <select name='greet'>
                <option value='Dear'>Dear</option>
                <option value='Hey'>Hey</option>
                <option value='Hello'>Hello</option>
            </select> <br>
    

        What do you want them to know? <br> ...or choose a prefilled message if you'd like!         
            <select class='template_type' name='template_type'>
                <option disabled selected value>Select prefilled</option>
                <option value='ty'>Thank you</option>
                <option value='hb'>Happy birthday</option>
                <option value='fup'>Follow Up</option>
            </select> 
            <br>
                <textarea class='template_textarea' name="body">
                You're awesome!
                </textarea>
                <br>

        How do you want to sign off? 
            <select name='sign_off'>
                <option value='Sincerely'>Sincerely</option>
                <option value='Yours'>Yours</option>
                <option value='Best'>Best</option>
              </select> <br><br>
            
          <input type="submit" class="login loginmodal-submit" value="Add New Contact/Event">
          </form>

          </div>
        </div>
      </div>
<!-- END ADD TOTALLY NEW EVENT/CONTACT MODAL -->    




    {%endif%}
{% endblock %}