{% extends 'base.html' %}
{% block content %}

<h2>{{ user.fname}} {{user.lname}}'s profile</h2>
Email: {{ user.email }}
<br>
Phone: {{ user.phone }}
<br><br>

<!-- Contacts list, with events -->
<p class='green'> People {{user.fname}} Will Keep in Touch With:</p>
<ul> {% for contact in contacts %}
    <li id="contact" value='{{contact.id}}'> 
        <b>{{ contact.name }} </b>
        {% if contact.user_id == session.get('user_id') %}
            <div id='contact-options'></div>
            <a href="/edit_contact/{{contact.id}}" style='font-size: 12px'><b>Edit contact info</b></a>
        {% endif %} 
    </li> 
        <ul> {% for event in contact.events|sort(attribute='date') %}
            {% if contact.user_id == session.get('user_id') %}
            <li>[{{event.date.month}}/{{event.date.day}}/{{event.date.year}}]  
                    <a href="/edit_event/{{event.id}}">{{ event.template.name }}</a>
                {% endif %} 
            </li>
        {% endfor %} 

        </ul>
        {% if contact.user_id == session.get('user_id') %}
         <a href="/add_event/{{contact.id}}"style='font-size: 12px'><b>Add a new event for {{contact.name}}</b></a><br>
         <a href="/remove_contact/{{contact.id}}" style='font-size: 12px'><b>Delete {{contact.name}} and their events</b></a><br><br>
         {% endif %} 
    {% endfor %}
</ul>


<!-- Table of events -->
<!-- <p class='green'> {{user.fname}}'s Events</p>
<table cellspacing="15">
    <tr>
        <th><u>Contact Name</u></th>
        <th><u>Email</u></th>
        <th><u>Phone</u></th>
        <th><u>Template</u></u></th>
        <th><u>Date (to be sent)</u></th> -->
        <!-- "empty" row for view/modify link for each event  -->
        <!-- <th></th> 
    </tr>
    <tr> 
    {% for contact in user.contacts %}
    {% for event in contact.events %}
        <td> {{ contact.name }} </td>
        <td> {{ contact.email }}</td>
        <td> {{ contact.phone }}</td>
        <td> {{event.template.name}} message </td>
        <td> {{ event.date}} </td>
        <td>{% if contact.user_id == session.get('user_id') %}<a href="/edit_event/{{event.id}}">view/modify event</a></td>{% endif %} 
    </tr>
    {% endfor %}
    {% endfor %}
</table>
-->
<br>
<br> 
<a href="/add_event"> <b>Add a new contact/event</b></a>

{% endblock %}